<div class="card">
    <div class="header">
        <div class="container-fluid">
            <div class="row ">
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <img src="./assets/img/img_children_card.png" class="img-responsive img-circle" alt="imagen del primer hijo">
              </div>
              <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                <p class="nameChildren">Carlos Rojas Suarez</p>
              </div>
              <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <img src="./assets/img/gender_24.png" class="img-responsive iconGener" alt="icono de genero masculino">
              </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>
        <div class="footer">
            <div class="legend">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" *ngFor="let birthdate of birthdates">
                            <div class="contentInfoCard">
                                <span class="subtitleCard">{{birthdate.title}}</span>
                                <p class="textoCard">{{birthdate.text}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-12" *ngFor="let placehealth of placehealths">
                            <div class="contentInfoCard">
                                <span class="subtitleCard">{{placehealth.title}}</span>
                                <p class="textoCard">{{placehealth.text}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="stats">
        <div class="buttonCard" *ngFor="let buttoncard of buttoncards">
            <div class="container-fluid">
                <div class="row">
                    <a href="#">
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10"><p class="buttonCardText">{{ buttoncard.title}}</p></div>
                        <div class="col-xs-2 col-sm-2 col-md-2 -lg-2"><i class="glyphicon glyphicon-play iconArrowCard"></i></div>
                    </a>                    
                </div>
            </div>
        </div>
    </div>
</div>