<div class="card">
    <div class="header">
        <div class="container-fluid">
            <div class="row ">
              <div class="col-lg-3">
                <img src="./assets/img/img_children_card.png" class="img-responsive img-circle" alt="imagen del primer hijo">
              </div>
              <div class="col-lg-6">
                <p class="nameChildren">Carlos Rojas Suarez</p>
              </div>
              <div class="col-lg-3">
                <img src="./assets/img/gender_24.png" class="img-responsive" alt="icono de genero masculino">
              </div>
            </div>
            <hr>
        </div>
    </div>
    <div class="content">
        <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>
        <div class="footer">
            <div class="legend">
                  <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-6">
                            <div class="contentInfoCard">
                                <span class="subtitleCard">Edad</span>
                                <p class="textoCard">6 años</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-lg-6">
                            <div class="contentInfoCard">
                                <span class="subtitleCard">Fecha de Nacimiento</span>
                                <p class="textoCard">10 de Enero del 2011</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-12">
                            <div class="contentInfoCard">
                                <span class="subtitleCard">Lugar de nacimiento</span>
                                <p class="textoCard">Lima</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 -sm-12 col-lg-12">
                            <div class="contentInfoCard">
                                <span class="subtitleCard">CS Donde Nacio</span>
                                <p class="textoCard">Hospital Nacional Rebagliati Martins</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 -lg-12">
                            <div class="contentInfoCard">
                                <span class="subtitleCard">CS Donde se atiende</span>
                                <p class="textoCard">Hospital Nacional Rebagliati Martins</p>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <div class="stats">
        <!-- <i class="fa fa-clock-o"></i> Campaign sent 2 days ago -->
        <div class="buttonCard">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-10"><p>CARTILLA DE VACUNACIÓN</p></div>
                    <div class="col-lg-2"><i class="glyphicon glyphicon-play iconArrowCard"></i></div>
                </div>
            </div>
        </div>
        <div class="buttonCard">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-10"><p>CERTIFOCADO DE RECIÉN NACIDO</p></div>
                    <div class="col-lg-2"><i class="glyphicon glyphicon-play iconArrowCard"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>