<hr>
<section class="content">
    <div>
        <div class="page">
            <ul class="nav nav--primary nav--alt">
                <li class="nav-item nav-item--primary">
                    <div class="nav-label">
                        <span><b>MIS HIJOS</b></span>
                        <span>(3 Personas)</span>                        
                        <svg class="nav-indicator nav-indicator--alt" width="22" height="22" viewbox="0 0 26 26">
                          <path d="M11,1 L21,11 L11,21 L1,11"></path>
                          <path d="M11,1 L1,11 L11,21 L1,11"></path>
                        </svg>
                    </div>
                    <div class="nav nav--secondary">
                      <div class="container-fluid" id="container-cards">
                        <div class="row">
                          <div class="col-lg-4"><card></card></div>
                          <div class="col-lg-4"><card></card></div>
                          <div class="col-lg-4"><card></card></div>
                        </div>
                      </div>
                    </div>
                </li>
                <li class="nav-item nav-item--primary">
                    <div class="nav-label">
                        <span><b>MIS FAMILIARES</b></span>
                        <span>(1 Persona)</span>
                        <svg class="nav-indicator nav-indicator--alt" width="22" height="22" viewbox="0 0 26 26">
                            <path d="M11,1 L21,11 L11,21 L1,11"></path>
                            <path d="M11,1 L1,11 L11,21 L1,11"></path>
                        </svg>
                    </div>
                    <div class="nav nav--secondary">
                        <div class="container-fluid">
                            <div class="row"></div>
                        </div>
                    </div>
                </li>
                <li class="nav-item nav-item--primary">
                    <div class="nav-label">
                        <span><b>PERSONAS QUE APODERO</b></span>
                        <span>(1 Persona)</span>
                        <svg class="nav-indicator nav-indicator--alt" width="22" height="22" viewbox="0 0 26 26">
                            <path d="M11,1 L21,11 L11,21 L1,11"></path>
                            <path d="M11,1 L1,11 L11,21 L1,11"></path>
                        </svg>
                    </div>
                    <div class="nav nav--secondary">
                        <div class="container-fluid">
                            <div class="row"></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>  
</section>