<hr>
<section class="content">
    <div>
        <div class="page">
            <ul class="nav nav--primary nav--alt">
                <li class="nav-item nav-item--primary" *ngFor="let item of items">
                    <div class="nav-label">
                        <span><b> {{ item.info }} </b></span>
                        <span> {{ item.description }} </span>
                        <svg class="nav-indicator nav-indicator--alt" width="22" height="22" viewbox="0 0 26 26">
                            <path d="M11,1 L21,11 L11,21 L1,11"></path>
                            <path d="M11,1 L1,11 L11,21 L1,11"></path>
                        </svg>
                    </div>
                    <div class="nav nav--secondary">
                        <div class="container-fluid container-cards">
                            <div class="row">
                                <div class="col-lg-4"><card></card></div>
                                <div class="col-lg-4"></div>
                                <div class="col-lg-4"></div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>  
</section>