.side-nav{
  font-family: 'Roboto', sans-serif;
}
.side-nav>li>ul {
  padding: 0;
}
.side-nav>li>ul>li>a {
  display: block;
  padding: 10px 15px 10px 38px;
  text-decoration: none;
  color: #999;
}
.side-nav>li>ul>li>a:hover {
  color: #fff;
}
.flot-chart {
  display: block;
  height: 400px;
}
.flot-chart-content {
  width: 100%;
  height: 100%;
}
.iconCircleMenu{
  color: #00B1F1;
    margin-right: 15px;
}
.nav>.liMenu>a:hover {
    text-decoration: none;
    background-color: #00B1F1;
} 
.nav>.liMenu>a:hover .iconCircleMenu{
    color: #fff;
}
.nav>.liMenu>a:hover .textMenu{
    color: #fff;
}
.user {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 30px;
  margin-top: 40px;
}
.user .photo{
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}
.nameUser, .lastNameUser{
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size:20px;
}
.info{
  margin-top: 10%;
}
.contentIconCogs{
  padding-right: 6%;
}
.iconCogs{
  color: #00B1F1;
  text-align: right;
  font-size: 20px;
  float: right;
}
@media(min-width:768px) {
  .side-nav {
    position: fixed;
    top: 51px;
    left: 225px;
    width: 225px;
    margin-left: -225px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #222;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
  }
  .side-nav>li>a {
    width: 225px;
  }
}