<div class="sidebar">
	<div class="sidebar-wrapper">
		<div class="logo">
			<a href="#">
				<img class="img-responsive" src="./assets/img/logo_minsa.jpg" alt="Logo Minsa">
			</a>
		</div>
		<hr>
		<div class="user">
			<div class="photo">
				<img src="./assets/img/user.png" alt="Imagen de Usuario">
			</div>
			<div class="info">
				
			</div>
		</div>
		<hr>
		<ul class="nav">
			<li *ngFor = "let item of items">
				<a href="#">
					<i class="glyphicon glyphicon-triangle-right" id="IconArrowMenu"></i>
					<span>{{item}}</span>
				</a>
			</li>
		</ul>
	</div>
</div>