.footer {
    background-color: #e1e1e1;
    line-height: 20px;
    border-top: 1px solid #d7d7d7;
}
.footer:not(.footer-big) nav > ul {
    font-size: 14px;
}
.footer nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: normal;
}
.footer:not(.footer-big) nav > ul li {
    margin-left: 20px;
    float: left;
}
.footer:not(.footer-big) nav > ul a {
    padding: 10px 0px;
    margin: 10px 10px 10px 0px;
}
.footer nav > ul a:not(.btn) {
    color: #9A9A9A;
    display: block;
    margin-bottom: 3px;
}
.footer .copyright {
    color: #777777;
    padding: 6px 15px;
    margin: 10px 3px;
    line-height: 20px;
    font-size: 14px;
}
@media (min-width: 992px){
	.footer:not(.footer-big) nav > ul li:first-child {
	    margin-left: 0;
	}
}